* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea, [contenteditable] * {
  -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

body {
    font: 0/0 a;
    text-align: center;
    margin: 10px;
}

.content-padded {
  padding: 10px;
}

.numbers-list
{
    margin: 20px 0;
    padding: 0;

    list-style: none;
    text-align: justify;
}

.numbers-list__item
{
    display: inline-block;
    width: 33%;
    text-align: center;
}

.numbers-list__sizer
{
    display: inline-block;
    width: 33%;
}

.number
{
    padding: 10px;
    margin: 15px 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25em;
    font-family: "ChalkboardSE-Bold";
    background: -webkit-linear-gradient(#999, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.again
{
    border: 0;
    font-weight: 700;
    font-size: 36px;
    font-family: "ChalkboardSE-Bold";
    background: -webkit-linear-gradient(red, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
}

.about
{
    font-family: Verdana;
    color: #666;
    font-size: 16px;
    line-height: 1.25em;
}
